@media (max-width: 1314px) {
    footer .global-info .logo span {
        font-size: 1.5rem;
        font-weight: bold;
    }
    footer .global-info .info span p {
        font-size: .8rem;
        color: #555;
    }
    footer .global-info .info span.bold p {
        font-size: .9rem;
        font-weight: bold;
        color: #777;
        padding: 0;
    }
    footer .copyright {
        font-size: .8rem;
        color: #777;
    }
    footer .social-media i {
        font-size: 1.2rem;
        margin: 1rem;
        color: #777;
    }
}

@media (max-width: 1296px) {
    header a button {
        display: none;
    }
    article {
        padding: 0 1.2rem;
    }
}

@media (max-width: 1094px) {
    footer .global-info {
        width: 30%;
    }
}

@media (max-width: 952px) {
    footer .global-info {
        width: 35%;
    }
    footer .global-info .logo img {
        width: 40px;
        margin-right: .5rem;
    }
    footer .copyright span {
        font-size: .7rem;
        color: #777;
    }
    footer .social-media {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        text-align: center;
    }
    footer .global-info .logo span {
        font-size: 1rem;
        font-weight: bold;
    }
    footer .global-info .info span p {
        font-size: .7rem;
        color: #555;
    }
    footer .global-info .info span.bold p {
        font-size: .8rem;
        font-weight: bold;
        color: #777;
        padding: 0;
    }
}

@media (max-width: 720px) {
    footer .global-info {
        margin: 0 .5rem;
    }
    footer .global-info p {
        display: none;
    }
    footer .copyright {
        margin: 0 .5rem;
    }
    footer .social-media {
        margin: 0 .5rem;
    }
}

@media (max-width: 1000px) {
    main .container-main div {
        margin: auto;
    }
    main .container-main img {
        display: none;
    }
    h2 {
        margin-left: 50px;
    }
    div h3 {
        margin-left: 50px;
    }
    form {
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        text-align: center;
        flex-direction: column;
    }
    input {
        margin: 12px;
    }
}

@media (max-width: 1000px) {
    .container {
        padding: 0px 20px;
    }
}

@media (max-width: 580px) {
    #artigos {
        margin: 1rem;
    }
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 630px) {
    .menu-button-container {
        display: flex
    }
    .menu {
        position: absolute;
        margin-top: 30px;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
        left: 100%;
        transform: translateX(100vw);
        transition: 0.5s ease transform;
    }
    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0px;
        width: 100%;
        color: white;
        background-color: #000;
        border-radius: 5px;
    }
    .menu>li:not(:last-child) {
        border-bottom: 1px solid white;
    }
    .menu li a {
        flex: 1;
        text-align: center;
    }
    main .container-menu img {
        display: none;
    }
    label {
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;
    }
    label span {
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 30px;
        transition: 0.25s ease-in-out;
    }
    label span:nth-child(1) {
        top: 0;
    }
    label span:nth-child(2) {
        top: 8px;
    }
    label span:nth-child(3) {
        top: 16px;
    }
    #checkbox-menu:checked+label span:nth-child(1) {
        transform: rotate(-45deg);
        top: 8px
    }
    #checkbox-menu:checked+label span:nth-child(2) {
        opacity: 0;
    }
    #checkbox-menu:checked+label span:nth-child(3) {
        transform: rotate(45deg);
        top: 8px
    }
    nav.menu {
        width: 100%;
    }
    #checkbox-menu:checked~nav .menu {
        transform: translateX(-100vw);
        transition: 0.5s ease transform;
    }
}